* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Norse Bold';
  src: url('fonts/Norse-Bold.otf') format('opentype');
}

html,
body {
  height: 100%;
}

/* body {
  background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
} */

body {
  background-color: rgb(29, 32, 32);
  display: flex;
}

#hero {
}

#hero-img {
  position: relative;
  width: 800px;
  height: 100%;
  padding-left: 200px;
}

#logo-box {
  position: absolute;
  top: 230px;
  left: 200px;
  height: 150px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
}

#viking {
  position: absolute;
  top: 240px;
  left: 360px;
  height: 14%;
}

#odin {
  position: absolute;
  color: white;
  font-size: 84px;
  font-family: 'Norse Bold';
  top: 260px;
  left: 460px;
}

#form {
  background-color: rgb(216, 218, 217);
  margin-right: 200px;
}

.come-on {
  margin-top: 160px;
  margin-right: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-left: 32px;
}

fieldset {
  background-color: white;
  padding-right: 160px;
  padding-left: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

legend {
  padding-top: 128px;
  padding-bottom: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: bold;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

input,
label {
  display: block;
  width: 120px;
}

input {
  width: 240px;
  height: 32px;
}

.input {
  padding-right: 32px;
  padding-bottom: 32px;
}

#footer {
  padding-left: 32px;
  padding-top: 32px;
}

button {
  background-color: #596d48;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 32px;
  border-radius: 8px;
  border: none;
}

#already {
  padding-top: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
